/* Объявление переменных */

:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --button-bg-color: #f5f4fa;
}

/* Задание правил для тэга body */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-title-color);
}

/* Контейнер для центрирования контента */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
  margin: 0 auto;
}

/* Класс для всех секций  */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid green;
}

/* Сброс внешних и внутренних отступов у заголовков, абзацев и списков */

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* Сброс стилей списков */

.list {
  list-style: none;
}

/* Сброс стилей ссылок */

.link {
  text-decoration: none;
}

/* Нижняя рамка у хедера */

.page-header {
  border-bottom: 1px solid #ececec;
}

/* Общие стили логотипа студии для хедера и футера */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

/* Отступы для лого в хедере */

.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Выделение цветом части логотипа */

.logo-web {
  color: var(--accent-color);
}

/* Общий флекс контейнер хедера */

.header-flex {
  display: flex;
  align-items: center;
}

/* Флекс на навигацию и список навигации */

.nav,
.nav-list {
  display: flex;
}

/* Горизонтальные отступы в ссылках навигации */

.nav-item:not(:last-child) {
  margin-right: 50px;
  letter-spacing: 0.02em;
}

/* Горизонтальный отступ к контактам хедера */

.header-contacts-list {
  display: flex;
  margin-left: auto;
}

/* Горизонтальный отступ между постой и телефоном */

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

/* Ссылки навигации по страницам сайта */

.nav-link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-title-color);
}

/* Эффект выделения цветом при ховере и фокусе */

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* Подсвечивание текущей страницы */

.current {
  color: var(--accent-color);
}

/* Главная почта и телефон */

.contacts-main {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Эффект выделения цветом при ховере и фокусе */

.contacts-main:hover,
.contacts-main:focus {
  color: var(--accent-color);
}

/* Секция герой */

.hero {
  padding-top: 200px;
  min-height: 600px;
  text-align: center;
  background-color: #2f303a;
}

/* Стили к заголовку героя */

.hero-title {
  margin-bottom: 30px;
  min-height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

/* Кнопка заказа услуги */

.hero-button {
  padding: 10px 32px;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  min-height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

/* Эффект выделения кнопки цветом при ховере и фокусе */

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* ||||||||||||||||||||| СЕКЦИЯ ПРЕИМУЩЕСТВ ||||||||||||||||||||| */

/* Флекс на список преимуществ */

.features-list {
  display: flex;
  margin-left: -30px;
}

.features-item {
  flex-basis: calc(100% / 4);
  margin-left: 30px;
}

/* Подзаголовки списка преимуществ */

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Текс в подзаголовках преимуществ */

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ||||||||||||||||||||| СЕКЦИЯ О НАШЕЙ РАБОТЕ ||||||||||||||||||||| */

/* Сброс верхнего паддинга в секции о нашей работе */

.work-section {
  padding-top: 0;
}

/* Заголовок секции о нашей работе и команде */

.work-title,
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Флекс на список о нашей работе */

.work-list {
  display: flex;
  margin-left: -30px;
}

/* Стили к списку о нашей работе */

.work-item {
  flex-basis: calc(100% / 3);
  margin-left: 30px;
}

/* ||||||||||||||||||||| СЕКЦИЯ НАША КОМАНДА ||||||||||||||||||||| */

/* Фон секции с командой */

.team-background {
  background-color: #f5f4fa;
}

/* Флекс на список команды */

.team-list {
  display: flex;
  margin-left: -30px;
}

/* Стили к списку команды */

.team-item {
  flex-basis: calc(100% / 4);
  margin-left: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Стили к подписи фото членов команды */

.team-item-content {
  padding: 30px 0;
  text-align: center;
}

/* Имена членов команды */

.member-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Профессии членов команды */

.member-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* |||||||||||||||||||||   П О Д В А Л  С Т Р А Н И Ц Ы   ||||||||||||||||||||| */

.bottom {
  padding: 60px 0;
  background-color: #2f303a;
}

/* Преобразование из строчного в блочный элемент */

.logo-move {
  display: block;
  margin-bottom: 20px;
}

/* Выделение белым цветом studio */

.logo-studio {
  color: #ffffff;
}

/* Сброс курсивного начертания в теге address */

.bottom-info {
  font-style: normal;
  letter-spacing: 0.03em;
}

/* Отступы (margin) в списке футера кроме последнего */

.bottom-contacts-item {
  margin-bottom: 9px;
}

.bottom-contacts-item:last-child {
  margin-bottom: 0;
}

/* Физический адрес студии */

.contacts-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Дополнительная почта и телефон */

.contacts-secondary {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/* Эффект выделения цветом при ховере и фокусе */

.contacts-secondary:hover,
.contacts-secondary:focus {
  color: var(--accent-color);
}

/*|||||||||||||||||||||||| СТРАНИЦА ПОРТФОЛИО ||||||||||||||||||||||||*/

.filter-list {
  display: flex;
  margin-bottom: 35px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

/* Стили к кнопкам фильтра */

.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: var(--button-bg-color);
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  background-color: #ffffff;
  outline: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects-item-content {
  padding: 20px 24px;
}

/* Эффект выделения цветом при ховере и фокусе */

.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* Названия проектов */

.projects-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-title-color);
}

/* Название категории проектов */

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
