/* Объявление переменных */

:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

/* Задание правил для тэга body */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-title-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid green;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Сброс стилей списков навигации, коммуникации, преимуществ, нашей работы, команды, фильтра проектов, проектов */

.nav-list,
.contacts-list,
.features-list,
.work-list,
.team-list,
.filter-list,
.projects-list {
  list-style: none;
}

/* Сброс стилей ссылок */

.link {
  text-decoration: none;
}

/* Логотип студии */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #000000;
}

/* Выделение цветом части логотипа */

.logo-web {
  color: var(--accent-color);
}

/* Ссылки навигации по страницам сайта */

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--secondary-title-color);
}

.current {
  color: var(--accent-color);
}

/* Эффект выделения цветом при ховере и фокусе */

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* Главная почта и телефон */

.contacts-main {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--text-color);
}

/* Эффект выделения цветом при ховере и фокусе */

.contacts-main:hover,
.contacts-main:focus {
  color: var(--accent-color);
}

/* Секция герой */

.hero {
  padding-top: 200px;
  min-height: 600px;
  text-align: center;
  background-color: #2f303a;
}

/* Стили к заголовку героя */

.hero-title {
  margin-bottom: 30px;
  min-height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--main-title-color);
}

/* Кнопка заказа услуги */

.hero-button {
  padding: 10px 32px;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  min-height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

/* Эффект выделения цветом при ховере и фокусе */

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Подзаголовки списка преимуществ */

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

/* Текс в подзаголовках преимуществ */

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

/* Заголовок секции о нашей работе и команде */

.team-background {
  background-color: #f5f4fa;
}

.work-section {
  padding-top: 0;
}

.work-title,
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
}

.work-image {
  display: block;
}

/* Фото членов команды */

.team-image {
  margin-bottom: 30px;
}

/* Имена членов команды */

.member-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* Профессии членов команды */

.member-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

/* Подвал страницы */

.bottom {
  padding: 60px 0;
  background-color: #2f303a;
}

.logo-move {
  display: block;
  margin-bottom: 20px;
}

.logo-studio {
  color: #ffffff;
}

/* Сброс курсивного начертания в теге address */

.bottom-info {
  font-style: normal;
}

/* Отступы (margin) в списке футера кроме последнего */

.bottom-contacts-item {
  margin-bottom: 9px;
}

.bottom-contacts-item:last-child {
  margin-bottom: 0;
}

/* Физический адрес студии */

.contacts-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Дополнительная почта и телефон */

.contacts-secondary {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/* Эффект выделения цветом при ховере и фокусе */

.contacts-secondary:hover,
.contacts-secondary:focus {
  color: var(--accent-color);
}

/*|||||||||||||||||||||||| Страница Портфолио ||||||||||||||||||||||||*/

/* Фильтр в виде кнопок */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}

/* Эффект выделения цветом при ховере и фокусе */

.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* Названия проектов */

.projects-title {
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-title-color);
}

/* Название категории проектов */

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
